<!-- blog/templates/blog/index.html -->
{% extends "base.html" %}

{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <div class="card text-center">
                <div class="card-header">
                    Categories:
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog:blog_category' category.name %}"class = "link-light">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a> {{ post.title }}</a></h5>
                
                        <p>{{ post.body | slice:":400" }}...</p>
                    <a href="{% url 'blog:blog_detail' post.pk %}" class="btn btn-light" >Read more</a>
                </div>
                <div class="card-footer footer">
                    {{ post.created_on.date }}
                </div>
            </div>
            
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}
