/* Estilos exclusivos de los resultados de búsqueda */
.blog-content .card {
    margin-bottom: 1.5rem;
}

.blog-content .card .card-img-top {
    display: block;
    width: calc(100% - 2rem);
    height: 220px;
    margin: 1rem auto;
    object-fit: cover;
}

.blog-content > p {
    text-align: center;
}
