{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA3JDoAN+n6ADru/IA6cLwAMNt0QDlr+0AtFvCAPve/wDotvAA+Mn/APbZ+gDtqPcA9L38AM592wAAAAAAAAAAAAEQAAAAIgAAEdEAAAEREAzMzREAER0RCqyM0QDKu9GsqMwRAMu6EcytwQAACsrMxRUQDdAACqERURHd0QRmEVfsHK0VRELMEVyhzMWWKTEczuwcwWJGOhyhHgIgS0YAyqoRAAAGYADIrNEAAAAAAKrBEAAAAAAACh0QAAD/nwAAzw8AAIYDAAACAwAAAAMAAAAPAACAGQAA4AAAAIAAAAAAAAAAAAAAAAAJAAAMDwAAnA8AAPwfAAD+HwAA" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    

    <title>My Personal Blog</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body class = "animated-gradient">

        <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 border rounded-2 ">
        
        <a class="navbar-brand">Ticiana Garin</a>

        <ul class="nav nav-pills">
            <!-- Enlaces de navegación -->
             <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'blog:index' %}">
                    <i class="bi bi-house-heart"></i> Inicio
                
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'index' %}">
                    <i class="bi bi-person"></i> Portfolio
                
                </a>

            </li>
            <!-- dark-light mode-->
            <li class="nav-item theme-toggle-item">
                <input type="checkbox" id="darkmode">
                <label for="darkmode" class="theme-toggle">
                    <i class="bi bi-sun-fill sun-icon" aria-hidden="true"></i>
                    <i class="bi bi-moon-stars-fill moon-icon" aria-hidden="true"></i>
                </label>
            </li>
        
        </ul>
    </nav>

<main class="blog-content">
    <hr>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
</main>
</body>
</html>
